
<h1 
   style='background-color:#4b5320;
          text-align:center;
          color:#f0f8ff;
          text-decoration:underline'>
    Pengiuns Dataset
</h1>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcontent.assets.pressassociation.io%2F2018%2F03%2F08170236%2F55ddff0a-9d87-4c7c-b064-644e228e6e32-1366x1024.jpg&f=1&nofb=1" width=500 height=300 style='margin-top: 1px'>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import kurtosis,skew

import warnings
warnings.filterwarnings("ignore")

In [2]:
pg=pd.read_csv('https://raw.githubusercontent.com/slmsshk/DataSet/main/penguins.csv').dropna()

In [3]:
pg.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [4]:
pg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    object
 1   island             333 non-null    object
 2   bill_length_mm     333 non-null    float64
 3   bill_depth_mm      333 non-null    float64
 4   flipper_length_mm  333 non-null    float64
 5   body_mass_g        333 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.8+ KB

In [5]:
pg.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

<p style='text-align:center;
          color:	#f2f3f4;
          font-size:20px;
          background-color:#8db600'>
    Label Encoding
                         </p></div>

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
LE=LabelEncoder()
pg['sex']=LE.fit_transform(pg['sex'])
pg['sex'].value_counts()

1    168
0    165
Name: sex, dtype: int64

In [8]:
pg.species=LE.fit_transform(pg['species'])

X & Y

In [9]:
x,y=pg.iloc[:,1:],pg['species']

In [10]:
x.head()

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Torgersen,39.1,18.7,181.0,3750.0,1
1,Torgersen,39.5,17.4,186.0,3800.0,0
2,Torgersen,40.3,18.0,195.0,3250.0,0
4,Torgersen,36.7,19.3,193.0,3450.0,0
5,Torgersen,39.3,20.6,190.0,3650.0,1

In [11]:
y.value_counts()

0    146
2    119
1     68
Name: species, dtype: int64

<p> OneHotEncoding</p>

In [12]:
x.island.value_counts()

Biscoe       163
Dream        123
Torgersen     47
Name: island, dtype: int64

<p style='text-align:center;
          color:	#f2f3f4;
          font-size:20px;
          background-color:#8db600;
          '>OneHotEncoding</p>

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
ohe=OneHotEncoder(handle_unknown='ignore',sparse=False)
island=pd.DataFrame(ohe.fit_transform(x[['island']]),columns=['Biscoe_island','Dream_island','Torgersen_island'])

In [15]:
ohe.categories_

[array(['Biscoe', 'Dream', 'Torgersen'], dtype=object)]

In [16]:
ohe.inverse_transform([[1,0,0]])

array([['Biscoe']], dtype=object)

In [17]:
df=pd.concat([island,x],axis=1,join='inner').drop('island',axis=1)
df.head()

,Biscoe_island,Dream_island,Torgersen_island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0.0,0.0,1.0,39.1,18.7,181.0,3750.0,1
1,0.0,0.0,1.0,39.5,17.4,186.0,3800.0,0
2,0.0,0.0,1.0,40.3,18.0,195.0,3250.0,0
4,0.0,0.0,1.0,36.7,19.3,193.0,3450.0,0
5,0.0,0.0,1.0,39.3,20.6,190.0,3650.0,1

In [18]:
help(pd.get_dummies)

Help on function get_dummies in module pandas.core.reshape.reshape:

get_dummies(data, prefix=None, prefix_sep='_', dummy_na: 'bool' = False, columns=None, sparse: 'bool' = False, drop_first: 'bool' = False, dtype: 'Dtype | None' = None) -> 'DataFrame'
    Convert categorical variable into dummy/indicator variables.

    Parameters
    ----------
    data : array-like, Series, or DataFrame
        Data of which to get dummy indicators.
    prefix : str, list of str, or dict of str, default None
        String to append DataFrame column names.
        Pass a list with length equal to the number of columns
        when calling get_dummies on a DataFrame. Alternatively, `prefix`
        can be a dictionary mapping column names to prefixes.
    prefix_sep : str, default '_'
        If appending prefix, separator/delimiter to use. Or pass a
        list or dictionary as with `prefix`.
    dummy_na : bool, default False
        Add a column to indicate NaNs, if False NaNs are ignored.
    columns : list-like, default None
        Column names in the DataFrame to be encoded.
        If `columns` is None then all the columns with
        `object` or `category` dtype will be converted.
    sparse : bool, default False
        Whether the dummy-encoded columns should be backed by
        a :class:`SparseArray` (True) or a regular NumPy array (False).
    drop_first : bool, default False
        Whether to get k-1 dummies out of k categorical levels by removing the
        first level.
    dtype : dtype, default np.uint8
        Data type for new columns. Only a single dtype is allowed.

    Returns
    -------
    DataFrame
        Dummy-coded data.

    See Also
    --------
    Series.str.get_dummies : Convert Series to dummy codes.

    Notes
    -----
    Reference :ref:`the user guide <reshaping.dummies>` for more examples.

    Examples
    --------
    >>> s = pd.Series(list('abca'))

    >>> pd.get_dummies(s)
       a  b  c
    0  1  0  0
    1  0  1  0
    2  0  0  1
    3  1  0  0

    >>> s1 = ['a', 'b', np.nan]

    >>> pd.get_dummies(s1)
       a  b
    0  1  0
    1  0  1
    2  0  0

    >>> pd.get_dummies(s1, dummy_na=True)
       a  b  NaN
    0  1  0    0
    1  0  1    0
    2  0  0    1

    >>> df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
    ...                    'C': [1, 2, 3]})

    >>> pd.get_dummies(df, prefix=['col1', 'col2'])
       C  col1_a  col1_b  col2_a  col2_b  col2_c
    0  1       1       0       0       1       0
    1  2       0       1       1       0       0
    2  3       1       0       0       0       1

    >>> pd.get_dummies(pd.Series(list('abcaa')))
       a  b  c
    0  1  0  0
    1  0  1  0
    2  0  0  1
    3  1  0  0
    4  1  0  0

    >>> pd.get_dummies(pd.Series(list('abcaa')), drop_first=True)
       b  c
    0  0  0
    1  1  0
    2  0  1
    3  0  0
    4  0  0

    >>> pd.get_dummies(pd.Series(list('abc')), dtype=float)
         a    b    c
    0  1.0  0.0  0.0
    1  0.0  1.0  0.0
    2  0.0  0.0  1.0

<p style='color:#ff033e;font-size:20px'><em> pd.get_dummies</em></p>

In [19]:
df2=pd.get_dummies(x)
df2.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,island_Biscoe,island_Dream,island_Torgersen
0,39.1,18.7,181.0,3750.0,1,0,0,1
1,39.5,17.4,186.0,3800.0,0,0,0,1
2,40.3,18.0,195.0,3250.0,0,0,0,1
4,36.7,19.3,193.0,3450.0,0,0,0,1
5,39.3,20.6,190.0,3650.0,1,0,0,1

<p style='color:	#f2f3f4;
          background-color:	#a4c639;
          font-size:20px;
          text-align:center' >Scaling</p>

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
df.columns

Index(['Biscoe_island', 'Dream_island', 'Torgersen_island', 'bill_length_mm',
       'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [23]:
sc=StandardScaler()
Xscl=pd.DataFrame(sc.fit_transform(df),columns=df.columns)

In [24]:
Xscl

,Biscoe_island,Dream_island,Torgersen_island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,-0.981650,-0.782266,2.591194,-0.872377,0.755911,-1.410034,-0.540325,0.993846
1,-0.981650,-0.782266,2.591194,-0.798966,0.092737,-1.047627,-0.476941,-1.006192
2,-0.981650,-0.782266,2.591194,-0.652144,0.398817,-0.395293,-1.174160,-1.006192
3,-0.981650,-0.782266,2.591194,-1.312842,1.061991,-0.540256,-0.920626,-1.006192
4,-0.981650,-0.782266,2.591194,-0.835671,1.725165,-0.757701,-0.667092,0.993846
...,...,...,...,...,...,...,...,...
319,1.018693,-0.782266,-0.385922,-0.101563,-1.641717,0.546967,0.505503,-1.006192
320,1.018693,-0.782266,-0.385922,0.779367,-1.080570,0.619449,1.678098,0.993846
321,1.018693,-0.782266,-0.385922,1.219832,-1.029557,1.126819,1.044263,-1.006192
322,1.018693,-0.782266,-0.385922,1.091363,-0.672463,2.069080,2.248549,0.993846
323,1.018693,-0.782266,-0.385922,-0.064858,-1.029557,0.909375,0.600578,-1.006192

In [25]:
from sklearn.model_selection import train_test_split